// Colors

$color-primary: #ff6b6b;
$color-secondary: #794afa;
$color-secondary-dark: #453c5c;

$color-white: #ffffff;
$color-dark: #0a021c;
$color-light: #b0b0c0;
$color-lighter: #e0e0e7;

$color-border: #e5e8ec;
$color-light: #b0b0c0;
$color-lighter: #e0e0e7;
$color-text-lg: #7c899a;
$color-bg-lg: #f2f3f5;

// Transition Colors

$trans-color: color .3s;
$trans-bg: background-color .3s;
$trans-bg-color: background-color .3s, color .3s;
// Fonts

$font-smaller: 11px;
$font-small: 13px;
$font-big: 16px;

$fw3: 300;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$fw8: 800;

