<!-- Footer -->

<footer>

    <!-- NewsLetter -->

    <div class="newsletter">
        <div class="container">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Join our Newsletter</h3>
                        <p>Get E-mail updates with <strong>special offers</strong></p>
                    </div>
                    <form action="" class="search">
                        <span class="icon-large"><i class="ri-mail-line"></i></span>
                        <input type="mail" placeholder="Your Email address" required>
                        <button type="submit">Sing Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Widgets -->

    <div class="widgets">
        <div class="container">
            <div class="wrapper">
                <div class="flexwrap">
                    <div class="row">
                        <div class="item mini-links">
                            <h4>Help & #Contact</h4>
                            <ul class="flexcol">
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Your Orders</a></li>
                                <li><a href="#">Shipping Rates</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item mini-links">
                            <h4>Product Categories</h4>
                            <ul class="flexcol">
                                <li><a href="">Beuaty</a></li>
                                <li><a href="">Eletronic</a></li>
                                <li><a href="">Women's</a></li>
                                <li><a href="">Sports</a></li>
                                <li><a href="">Jamza</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item mini-links">
                            <h4>Payment Info</h4>
                            <ul class="flexcol">
                                <li><a href="">Bussiness Card</a></li>
                                <li><a href="">Shop with Points</a></li>
                                <li><a href="">Reload Your Balance</a></li>
                                <li><a href="">Paypal</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item mini-links">
                            <h4>About Us</h4>
                            <ul class="flexcol">
                                <li><a href="">Company Info</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="">Investors</a></li>
                                <li><a href="">Policies</a></li>
                                <li><a href="">Customer Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer Info -->

    <div class="footer-info">
        <div class="container">
            <div class="wrapper">
                <div class="flexcol">
                    <div class="logo">
                        <a href="#"><span class="circle"></span>.Store</a>
                    </div>
                    <div class="socials">
                        <ul class="flexitem">
                            <li><a href=""><i class="ri-twitter-line"></i></a></li>
                            <li><a href=""><i class="ri-facebook-line"></i></a></li>
                            <li><a href=""><i class="ri-instagram-line"></i></a></li>
                            <li><a href=""><i class="ri-linkedin-line"></i></a></li>
                            <li><a href=""><i class="ri-youtube-line"></i></a></li>
                        </ul>
                    </div>
                </div>
                <p class="mini-text">Copyright 2022 .Store All Rights reserverd.</p>
            </div>
        </div>
    </div>

</footer>

<!-- Menu-Bottom -->
<div class="menu-bottom desktop-hide">
    <div class="container">
        <div class="wrapper">
            <nav>
                <ul class="flexitem">
                    <li>
                        <a href="#">
                            <i class="ri-bar-chart-line"></i>
                            <span>Trending</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-user-6-line"></i>
                            <span>Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-heart-line"></i>
                            <span>Wishlist</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="t-search">
                            <i class="ri-search-line"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="ri-shopping-cart-line"></i>
                            <span>Cart</span>
                            <div class="fly-item">
                                <span class="item-number">0</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="search-bottom desktop-hide">
    <div class="container">
        <div class="wrapper">
            <form action="" class="search">
                <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                <span class="icon-large"><i class="ri-search-line"></i></span>
                <input type="search" placeholder="Your Email address">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>