// Slider 

.slider {
    & .item {
        position: relative;
        height: 474px;
        &::before{
            content: '';
            position: absolute;
            top: 30%;
            left: 0;
            width: 450px;
            height: 300px;
            background-color: $color-white;
            z-index: 1;
            filter: blur(50px);
            opacity: .8;
        }
    }
    & .text-content {
        position: relative;
        height: 100%;
        justify-content: flex-end;
        padding: 0 0 10% 10%;
        z-index: 1;
    }
    & h4 {
        font-size: $font-small;
        font-weight: $fw7;
        width: fit-content;
        padding: 4px 10px;
        background-color: $color-dark;
        color: $color-white;
        border-radius: 4px;
    }
}

.swiper-pagination .swiper-pagination-bullet-active{
    background-color: $color-secondary-dark;
}